<% post.comments.includes([:user]).each do |comment| %>
  <div class="mb-2">
    <% if comment.user == current_user %>
      <%= link_to "", users_post_comment_path(post.id, comment), method: :delete, remote: true, class: "delete-comment" %>
    <% end %>
    <span>
      <strong>
        <%= link_to comment.user.name, users_user_path(comment.user), class: "no-text-decoration black-color" %>
      </strong>
    </span>
    <span><%= comment.comment %></span>
  </div>
<% end %>