<% items.each do |item| %>
	<%= form_for [post, item],remote: true do |f| %>
		<div class="row" style="padding-top: 10px">
			<div class="col-lg-5 col-4">
				<%= f.text_field :name, placeholder:"具材" %>
			</div>
			<div class="col-lg-3 col-4">
				<%= f.submit "変更", class:"btn btn-warning btn-sm submit-btn-sm" %>
				<%= link_to "削除", post_item_path(post, item),
					method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
					class:"btn btn-danger btn-sm", remote: true %>
			</div>
		</div>
	<% end %>
<% end %>    
