<div class="container">
  <div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
    <div class="row post-wrap">
      <div class="col-md-12">
        <div class="recipe-top">
          <%= attachment_image_tag recipe,:image, class: "post-image-show", fallback: "no_image.jpg" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="recipe-bottom">
          <div class="recipe-right-comment">
            <div class="recipe-right-name">
              <%= recipe.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
