<div class="container">
  <div class="row">
    <div class="col-lg-4">
     <%= render 'posts/left-content' %>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-5">
        <div class="home-content new-bottom margin-bottom10">
            <i class="fas fa-bell icon new-bg"></i>通知
        </div>
        <% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
    </div>