<div class="about-main-image">
  <h3 class="about-main-text">DIY LOG</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 about-item">
      <div class="about-item-image"></div>
      <p class="about-item-text">気軽に作品を共有</p>
    </div>
    <div class="col-lg-3 about-item">
      <div class="about-item-image"></div>
      <p class="about-item-text">次回作のアイデア作りに</p>
    </div>
    <div class="col-lg-3 about-item">
      <div class="about-item-image"></div>
      <p class="about-item-text">
    </div>
  </div>
</div>
