<div class="tours-first-wrapper">
<div class = "tourist-top-image">
		<div class = "tourist-top-image-box">
			<span class = "tourist-login-message"><%= flash[:notice] %></span>
			<span class = "tourist-top-image-box-text"></span>

		</div>
	</div>
</div>