
<% if post.liked_by(current_user) %>
	<%= link_to post_likes_path(post), method: :delete,remote: true do %>
		<i class="fas fa-heart" style="color: #F96167"></i>
		<span><%= post.likes.count %></span>
	<% end %>
<% else %>
	<%= link_to post_likes_path(post), method: :post,remote: true do %>
		<i class="far fa-heart"></i>
		<span><%= post.likes.count %></span>
	<% end %>
<% end %>
