<div class="container">
  <div class="row">
    <div class="col-lg-3">
     <%= render 'left-content' %>
    </nav>
    </div>
    <div class="col-lg-5">
    <div class="home-content like-bottom margin-bottom10">
      <i class="fas fa-crown icon like-bg"></i>いいねランキング
    </div>
      <%= render 'posts2', posts:@like_ranking_posts %>
  </div>
</div>