<div class="container">
  <div class="row">
    <div class="col-lg-3">
     <%= render 'left-content' %>
    </nav>
    </div>
    <div class="col-lg-5">
    <div class="posts-type">
      <i class="fas fa-crown icon like-bg"></i><h3>いいねランキング</h3>
    </div>
      <%= render 'posts2', posts:@like_ranking_posts %>
  </div>
</div>