body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.profile_img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}