.profile-img-circle {
  border-radius: 50%;
}
.user-view {
  border-bottom: 1px solid #c0c0c0;
  margin-top: 20px;
  padding-bottom: 20px;
}

.no-notification{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}