.confirm {
  background-color: wheat;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}
.post-confirm {
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
  padding: 20px 50px;
}
.post-confirm:nth-child(2) {
  border:none;
}
.post-confirm:nth-child(4) {
  border:none;
}