.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.recipe_new {
  height: 300px;
  width: 300px;
}
.recipe-index {
  text-align: center;;
}
.recipe {
  min-height: 150px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid black;
}
.recipe-image {
  height: auto;
  min-height: 170px;
  text-align: center
}
